server:
  port: 8081
spring:
  application:
    name: employee-service


  datasource:
    url: jdbc:mysql://localhost:3307/employdb?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC&characterEncoding=UTF-8
    username: root
    password: 123qazasd!
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    database: mysql
    database-platform: org.hibernate.dialect.MySQLDialect
    show-sql: true
